/* COLOR PALLETE ********************************************************/
/* to so barve ospredja */
.white {
	color: white;
}
.purple {
	color: #680148;
}
.black {
	color: black;
}
.blue-dark {
	color: #7DB4B5;
}
.blue-light {
	color: #E0EFF1;
}

/* to so barve ozadja */
.b-white {
	background-color: white;
}
.b-purple {
	background-color: #680148;
}
.b-black {
	background-color: black;
}
.b-blue-dark {
	background-color: #7DB4B5;
}
.b-blue-light {
	background-color: #E0EFF1;
}
*/

/* LOGIN PAGE ONLY ******************************************************/
.login {
	font-family: "serif";
	margin: auto;
}
div.login {
	width: 30%;
	margin: auto;
}
form.login {
	width: 80%;
	margin: auto;
}
input.input {
	width: 100%;
	margin: auto;
}


/* COMMON ***************************************************************/
html, body {
	height: 99%;
} 
header {
	position: fixed;
	top: 0px;
	width: 70%;
	font-family: sans-serif;
	padding: 4%;
	padding-left: 15%;
}
footer {
	position: fixed;
	bottom: 0px;
	width: 70%;
	font-family: sans-serif;
	padding: 4%;
	padding-left: 15%;
}
article {
	position: static;
	margin-top: 10%;
	min-height: 20%;
	padding: 5%;
	font-family: sans-serif;
	padding-bottom: 30%;
}
#container-out {
	height: 100%;
}
#container {
	min-width: 480px;
	/*max-width: 1300px;*/
	height: 100%;
	width: 90%;
	margin: auto;
}
#logo {
	float: left;
	width: 64px;  
}


/* CATEGORIES ***********************************************************/
.category {
	clear: both;
	width: 100%;
}


/* MAIN PAGE ONLY *******************************************************/
.addtask {
}
div.addtask {
	padding: 1%;
	margin: 1%;
	border-style: solid;
	border-width: 1px;
}
.addtaskelement {
	padding-right: 3%;
	white-space: nowrap;
}
textarea {
	width: 80%;
} 
.task {
	float: left;
	width: 18%;
	min-width: 150px;
	max-width: 220px;
	margin: 1%;
	border-style: solid;
	border-width: 1px;
}
a.delete {
}
a.delete:hover {
}
a.edit	{
	float: right;
}
a.edit {
}
a.edit:hover {
}
h1 {
	font-family: sans-serif;
	font-size: 18pt;
	font-weight: lighter;
}
p.todo {
	font-family: serif;
	font-size: 14pt;
	font-weight: 600;
	margin: 15px;
	border-bottom-style: solid;
	border-width: 1px;
}

