html, body {
	height: 99%;
}

#container-out {
	height: 100%;
}

#container {
	min-width: 480px;
	max-width: 1300px;
	height: 100%;
	width: 80%;
	margin: auto;
}

#head {
	background-color: #DEADac;
	color: #747;
	font-family: sans-serif;
	padding: 4%;
	padding-left: 15%;
}

#body {
	background-color: #FDEADF;
	height: 100%;
	padding: 5%;
	font-family: sans-serif;
}

.todo-block {
	float: left;
	background-color: #caDEAD;
	width: 20%;
	min-width: 112px;
	max-width: 220px;
	margin: 3%;
	border-color: #CAA;
	border-style: solid;
	border-width: 1px;
}

h1 {
	font-family: sans-serif;
	font-size: 18pt;
	font-weight: lighter;
}

p.todo {
	font-family: serif;
	font-size: 14pt;
	font-weight: 600;
	margin: 15px;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #c4D6A7;
}